<%- include('partials/head.ejs') %>
<title>home | solarity-gh</title>
</head>
<body>
<div class="center">
<div class="container">
<h4 id="montserrat-600" class="text-align-left">solarity-gh</h4>
<nav class="navbar" id="montserrat-300">
<a href="/">home</a>
<a href="/posts">blog</a>
</ul>
</nav>
</div>
<h2 id="montserrat-300">haii!! :3</h1>
<p id="montserrat-300">hi! i'm a developer, who <strong>strongly</strong> dislikes school blocks. this blog is made for me messing around with exploits and stuff. that's it ig :3</p>
</div>
<%- include('partials/footer.ejs') %>